<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.tyler.telegram-spam-filter</string>
    <key>WorkingDirectory</key>
    <string>{{PROJECT_DIR}}</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{UV_PATH}}</string>
        <string>run</string>
        <string>--directory</string>
        <string>{{PROJECT_DIR}}</string>
        <string>telegram-spam-filter</string>
        <string>run</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>{{PATH_VALUE}}</string>
        <key>PYTHONUNBUFFERED</key>
        <string>1</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>30</integer>
    <key>StandardOutPath</key>
    <string>{{LOG_DIR}}/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>{{LOG_DIR}}/stderr.log</string>
    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>
